<!-- /*
* File: app.component.html
* Author: Boros Zoltán
* Copyright: 2022, Boros Zoltán
* Group: Szoft II N
* Date: 2022-11-26
* Github: https://github.com/BorosFather
* Licenc: GNU GPL
*/ -->

<script src="app.component.scss"></script>

<div class="container">
  <h1>Feladat 0354</h1>
  <br>
  <div><label for="aSide" >A oldal</label>
    <input type="text" id="aSide" [(ngModel)]="aSide" required>
    <br><br>
    <label for="bSide" >B oldal</label>
    <input type="text" id="bSide" [(ngModel)]="bSide" required>
    <br><br>
    </div>

  <button (click)="calcHandle()">
    Számítás
  </button>

  <div *ngIf="hideArea">
    <label for="area">Terület</label>
    <br>
    <input type="text" id="area" [(ngModel)]="area" class="form-control-sm">
      
  </div>

  <div class="about">
  Boros Zoltán as BorosFather <br>
  Szoft II N <br>
  2022.11.02 <br>
  </div>

</div>